<<<<<<< Updated upstream
@font-face {
    font-family: 'consola';
    src: url("fonts/consola-normal.woff2") format('woff2'),
         url("fonts/consola-normal.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'consola-bold';
    src: url("fonts/consola-bold.woff2") format("woff2"),
         url("fonts/consola-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
=======
>>>>>>> Stashed changes
