.home-container {
    margin-left: 201px;
    height: 100vh;
    width: calc(100% - 201px);

    display: flex;
    overflow: hidden;

    position: relative;
}
#home-screen {
    position: absolute;
    transform: translate(-20%, -30%) scale(.6);
}