/*@import url('fonts.css');*/
body {
    background-color: black;
    font-family: 'consola';
    color: whitesmoke;

    margin: 0;
}


.logohead {
    max-width: fit-content;
    padding: 20px;
}

    .logohead h1 {
        margin: 0;
        padding: 0;

        margin-top: -15px;

        font-family: 'consola-bold';
        color: #00FFFF;

        font-size: 3rem;
        letter-spacing: -8px;
    }

    .logohead h2 {
        margin: 0;
        padding: 0 0 0 2px;

        font-family: 'consola';
        color: #FF8800;

        font-size: 1.4rem;
        letter-spacing: 3px;
    }

#sidebar {
    width: 200px;
    height: 100vh;
}

#sidebar header {
    height: 100px;

}

#user-id {

}

#sidebar ul {
    margin: 20px 0;
    list-style: none;
}

#sidebar li {
    margin: 15px 0;
}

#sidebar .li-break:before {
    content: "---";
}

a {
    color: whitesmoke;
}