body {
    background-color: black;
    
    margin: 0;
    padding: 0;
}
.ultrabig {
    font-size: 84px;
}

header {
    text-align: center;
}

article {
    width: 90%;
    height: auto;
    background-color: rgb(7, 7, 7);

    padding: 20px;
    margin: 20px;
}