* {
    margin: 0;
    padding: 0;
}

.logohead {
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #c7c0c0;
    border: 2px solid;
    border-color: #FFF #6c6c6c #6c6c6c #FFF;
}
nav {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    margin: 0;
    padding: 0;
}
section {
    position: fixed;

    width: 100%;

    display: flex;
    flex-flow: row;
    padding: 0 0 5px 0;
}

h3 {
    font-weight: 900;
}

body {
    display: flex;
}

button {
    width: 150px;
    height: 30px;

    border-radius: 10px;
}