/* */
body {
    background-color: black;

    font-family: 'Noto Sans Mono';
    font-weight: 400;
    color: whitesmoke;
}

/*text styles */
.bold {
    font-weight: 900;
}

.orange {
    color: #FF8800;
}

.underline {
    text-decoration: underline;
}

.strikethru {
    text-decoration: line-through;
}

.logohead {
    margin: 0;
    padding: 0;
}