body {
    background-color: black;
    
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
}
.ultrabig {
    font-size: 84px;
}

header {
    text-align: center;
    position: fixed;
}
main {
    height: calc(100% - 105.5px);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
article {
    width: 60%;
    height: auto;
    background-color: rgb(7, 7, 7);

    padding: 20px;
    margin: 20px;
}